body{
   background:#cecece;
   font-family:Verdana;
   width: 300px;
}
.wrapp{
   background:#1E90FF;
   border:5px solid #efefef;
   position: relative;
   width: 300px;
   height: 600px;
}
.contenedor{
   height:auto;
   width:300px;
   height:2000px;
}

.donut img{margin: 0 0 0 50px;

}

.nubes div{
   position: absolute;
   background-image: url(nube.png);
   width: 340px;
   height: 80px;
}